# Factorization Machines: 

## Alleviating Choice Paralysis for Cinephiles 
### by Jordy Klustner

In [ ]:
!pip install rankfm

Collecting rankfm
  Downloading rankfm-0.2.5.tar.gz (145 kB)
     |████████████████████████████████| 145 kB 5.1 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from rankfm) (1.21.6)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from rankfm) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->rankfm) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->rankfm) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->rankfm) (1.15.0)
Building wheels for collected packages: rankfm
  Building wheel for rankfm (setup.py) ... done
  Created wheel for rankfm: filename=rankfm-0.2.5-cp37-cp37m-linux_x86_64.whl size=386145 sha256=ed0f6e8a7c4b1894fae326dcc8ef49fbddf4111f4cf1b8abf7018d96084da55d
  Stored in directory: /root/.cache/pip/wheels/99/5f/9d/caa74d8a3cad3dcc3ed9e02d27e7bc18d0ccd1dd5ed1fcdb99
Successfully built rankfm
Installing collected packages: rankfm
Successfully installed rankfm-0.2.5

### Import Required Libraries and Read Ratings Dataset

In [ ]:
import pandas as pd
import numpy as np
from rankfm.rankfm import RankFM 
import warnings
warnings.filterwarnings('ignore')

ratings = pd.read_csv('ratings.csv')

In [ ]:
ratings['rating'] = ratings['rating']/5

In [ ]:
ratings = ratings.drop(columns= 'timestamp')
ratings['random'] = np.random.random(len(ratings['rating']))

### Create Data For Roommate's Movie Preferences

In [ ]:
c = np.array([[42069, 310131, .8],
              [42069, 16392, .6],
              [42069, 15371, 1],
              [42069, 146233, .6],
              [42069, 421, 1],
              [42069, 97367, 1],
              [42069, 489, .8],
              [42069, 278, .8],
              [42069, 9647, .6],
              [42069, 279690, .6],
              [42069, 55931, .6],
              [42069, 24128, .8],
              [42069, 84892, .4],
              [42069, 25750, .2],
              [42069, 149, .8],
              [42069, 2291, .4],
              [42069, 339403, .6],
              [42069, 861, .6],
              [42069, 9741, .4],
              [42069, 19908, .2],
              [42069, 153, .8]])
chris = pd.DataFrame(c, columns= ["userId", "movieId", "rating"])
chris["random"] = np.random.random(len(chris['rating']))
chris

     userId   movieId  rating    random
0   42069.0  310131.0     0.8  0.117112
1   42069.0   16392.0     0.6  0.857393
2   42069.0   15371.0     1.0  0.796890
3   42069.0  146233.0     0.6  0.575762
4   42069.0     421.0     1.0  0.774184
5   42069.0   97367.0     1.0  0.076446
6   42069.0     489.0     0.8  0.192059
7   42069.0     278.0     0.8  0.917216
8   42069.0    9647.0     0.6  0.482191
9   42069.0  279690.0     0.6  0.071241
10  42069.0   55931.0     0.6  0.017518
11  42069.0   24128.0     0.8  0.333555
12  42069.0   84892.0     0.4  0.035561
13  42069.0   25750.0     0.2  0.225839
14  42069.0     149.0     0.8  0.018801
15  42069.0    2291.0     0.4  0.302059
16  42069.0  339403.0     0.6  0.131907
17  42069.0     861.0     0.6  0.499339
18  42069.0    9741.0     0.4  0.737388
19  42069.0   19908.0     0.2  0.253213
20  42069.0     153.0     0.8  0.923698

### Get Sample of Users

In [ ]:
all_users = ratings.userId.unique()
s_users = np.random.choice(all_users, size=20000, replace=False)

In [ ]:
s_ratings = ratings[ratings.userId.isin(s_users)].copy()
s_ratings = s_ratings.append(chris)

In [ ]:
ratings.head(10)

   userId  movieId  rating    random
0       1      110     0.2  0.620213
1       1      147     0.9  0.881993
2       1      858     1.0  0.909298
3       1     1221     1.0  0.957572
4       1     1246     1.0  0.204583
5       1     1968     0.8  0.186593
6       1     2762     0.9  0.494464
7       1     2918     1.0  0.642935
8       1     2959     0.8  0.739074
9       1     4226     0.8  0.515519

In [123]:
ratings.shape

(1903042, 4)

In [124]:
s_ratings.shape

(1903042, 4)

In [ ]:
s_train = s_ratings[s_ratings['random']<.7]
s_valid = s_ratings[(s_ratings['random'] >= .7) & (s_ratings['random'] < .85)]
s_test = s_ratings[s_ratings['random']>=.85]

In [ ]:
s_train.shape

(1330775, 4)

In [ ]:
s_test.shape

(287047, 4)

In [ ]:
s_valid.shape

(285220, 4)

### Create Movie Features

In [ ]:
movie_feat = pd.read_csv('movies_metadata.csv')
movie_feat = movie_feat.drop([19730,29503,35587])
movie_feat['movieId'] = movie_feat['id'].astype(str).astype(int)
movie_feat = movie_feat[['movieId', 'title','genres', 'vote_average', 'vote_count']]

In [ ]:
train_movie = s_train.movieId.unique()
movie_feat_train = movie_feat[movie_feat.movieId.isin(train_movie)]
test_movie = np.sort(s_test.movieId.unique())
movie_feat_test = movie_feat[movie_feat.movieId.isin(test_movie)]
len(train_movie)

20323

### Fit Factorization Machine

In [116]:
model = RankFM(factors=6, loss='warp', max_samples=40, learning_schedule='invscaling', learning_rate= .02)
model.fit(s_train[["userId","movieId"]], sample_weight= s_train["rating"], 
          epochs=100, verbose=True)

training epoch: 0
log likelihood: -654682.4375

training epoch: 1
log likelihood: -636492.375

training epoch: 2
log likelihood: -639471.375

training epoch: 3
log likelihood: -641625.1875

training epoch: 4
log likelihood: -642573.1875

training epoch: 5
log likelihood: -643519.3125

training epoch: 6
log likelihood: -644098.375

training epoch: 7
log likelihood: -644754.75

training epoch: 8
log likelihood: -644959.75

training epoch: 9
log likelihood: -644384.0625

training epoch: 10
log likelihood: -642744.125

training epoch: 11
log likelihood: -640669.125

training epoch: 12
log likelihood: -637692.6875

training epoch: 13
log likelihood: -635160.3125

training epoch: 14
log likelihood: -633967.5625

training epoch: 15
log likelihood: -633841.5625

training epoch: 16
log likelihood: -632286.8125

training epoch: 17
log likelihood: -632480.625

training epoch: 18
log likelihood: -631743.4375

training epoch: 19
log likelihood: -631014.875

training epoch: 20
log likelihood: -630270.25

training epoch: 21
log likelihood: -629111.8125

training epoch: 22
log likelihood: -628446.9375

training epoch: 23
log likelihood: -627130.0

training epoch: 24
log likelihood: -625646.25

training epoch: 25
log likelihood: -624932.75

training epoch: 26
log likelihood: -623754.75

training epoch: 27
log likelihood: -623000.0625

training epoch: 28
log likelihood: -622046.125

training epoch: 29
log likelihood: -621372.25

training epoch: 30
log likelihood: -620072.875

training epoch: 31
log likelihood: -619105.8125

training epoch: 32
log likelihood: -618836.9375

training epoch: 33
log likelihood: -618466.625

training epoch: 34
log likelihood: -618110.25

training epoch: 35
log likelihood: -617342.125

training epoch: 36
log likelihood: -617160.3125

training epoch: 37
log likelihood: -616190.0625

training epoch: 38
log likelihood: -616336.6875

training epoch: 39
log likelihood: -615818.1875

training epoch: 40
log likelihood: -616568.125

training epoch: 41
log likelihood: -616027.0

training epoch: 42
log likelihood: -614935.1875

training epoch: 43
log likelihood: -615545.8125

training epoch: 44
log likelihood: -615104.25

training epoch: 45
log likelihood: -614781.75

training epoch: 46
log likelihood: -614687.75

training epoch: 47
log likelihood: -614559.8125

training epoch: 48
log likelihood: -614517.3125

training epoch: 49
log likelihood: -614118.9375

training epoch: 50
log likelihood: -613955.3125

training epoch: 51
log likelihood: -614403.3125

training epoch: 52
log likelihood: -614115.625

training epoch: 53
log likelihood: -613332.1875

training epoch: 54
log likelihood: -613231.1875

training epoch: 55
log likelihood: -612759.6875

training epoch: 56
log likelihood: -612880.25

training epoch: 57
log likelihood: -613169.875

training epoch: 58
log likelihood: -613210.8125

training epoch: 59
log likelihood: -612415.1875

training epoch: 60
log likelihood: -612915.5

training epoch: 61
log likelihood: -612442.4375

training epoch: 62
log likelihood: -612153.1875

training epoch: 63
log likelihood: -612294.5

training epoch: 64
log likelihood: -611895.0625

training epoch: 65
log likelihood: -611445.625

training epoch: 66
log likelihood: -611613.9375

training epoch: 67
log likelihood: -611673.5

training epoch: 68
log likelihood: -611739.5625

training epoch: 69
log likelihood: -611542.1875

training epoch: 70
log likelihood: -611183.8125

training epoch: 71
log likelihood: -611654.1875

training epoch: 72
log likelihood: -611059.5625

training epoch: 73
log likelihood: -611054.125

training epoch: 74
log likelihood: -611286.375

training epoch: 75
log likelihood: -611130.9375

training epoch: 76
log likelihood: -611378.0

training epoch: 77
log likelihood: -610676.9375

training epoch: 78
log likelihood: -610891.4375

training epoch: 79
log likelihood: -610745.625

training epoch: 80
log likelihood: -610232.5

training epoch: 81
log likelihood: -610753.25

training epoch: 82
log likelihood: -610841.5625

training epoch: 83
log likelihood: -611221.25

training epoch: 84
log likelihood: -610654.8125

training epoch: 85
log likelihood: -610986.5625

training epoch: 86
log likelihood: -611258.0625

training epoch: 87
log likelihood: -609798.8125

training epoch: 88
log likelihood: -610191.375

training epoch: 89
log likelihood: -610615.0625

training epoch: 90
log likelihood: -610509.125

training epoch: 91
log likelihood: -610309.875

training epoch: 92
log likelihood: -610135.0625

training epoch: 93
log likelihood: -610005.6875

training epoch: 94
log likelihood: -610967.6875

training epoch: 95
log likelihood: -610105.0

training epoch: 96
log likelihood: -610223.75

training epoch: 97
log likelihood: -610631.125

training epoch: 98
log likelihood: -609965.0

training epoch: 99
log likelihood: -611158.5625

### Get Training Metrics

In [117]:
from rankfm.evaluation import hit_rate, precision, recall

model_hrt = hit_rate(model, s_train[['userId','movieId']], k=10)
model_pre = precision(model, s_train[['userId','movieId']], k=10)
model_rec = recall(model, s_train[['userId','movieId']], k=10)

In [118]:
model_hrt,model_pre,model_rec

(0.6728858857344562, 0.2773334678029348, 0.08050620539409406)

### Get Validation Metrics

In [119]:
model_hrt = hit_rate(model, s_valid[['userId','movieId']], k=10)
model_pre = precision(model, s_valid[['userId','movieId']], k=10)
model_rec = recall(model, s_valid[['userId','movieId']], k=10)

In [120]:
model_hrt,model_pre,model_rec

(0.4076168302012307, 0.06280281612062753, 0.07534429237551644)

### Recommend Movies To My Cinephile Roommate

In [121]:
rec = model.recommend(users = [42069], n_items = 10)
chris_rec = list(rec.iloc[0,])
movie_feat.title[movie_feat['movieId'].isin(chris_rec)]

286                     Once Were Warriors
302                      Three Colors: Red
938                           The 39 Steps
3382                               Solaris
4020              The Million Dollar Hotel
5004                       Monsoon Wedding
5325                       Men in Black II
6388    Terminator 3: Rise of the Machines
Name: title, dtype: object

### Get Testing Set Metrics

In [122]:
model_hrt = hit_rate(model, s_test[['userId','movieId']], k=10)
model_pre = precision(model, s_test[['userId','movieId']], k=10)
model_rec = recall(model, s_test[['userId','movieId']], k=10)

model_hrt, model_pre, model_rec

(0.40890395731436197, 0.062311027123165844, 0.07464185489482321)